
@media screen and (min-width: 400px) {

  .form-completo{
    padding: 20px;
    display:flex;
    justify-content: center;
  /*  flex-direction: column; */
  }

    .nombre{
      width:40%;
    }
    .email{
      width:40%;
    }
    .consulta{
      width:100%;
      height: 200px;
    }

.formulario {
  display: flex;
  flex-direction: column;
  margin-left: 500px;
  margin-right: 600px;
}
